<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title>{{ fa_metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ fa_metadata.description }}" />
    <meta name="author" content="{{ fa_metadata.author }}" />
    <meta name="og:url" content="{{ fa_metadata.url }}" />
    <meta name="og:title" content="{{ fa_metadata.title }}" />
    <meta name="og:description" content="{{ fa_metadata.description }}" />
    <meta name="og:locale" content="fa_IR" />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div class="m-4">
      <h1 class="text-3xl">Site coming soon...</h1>
      <p><a href="{{ fa_copy.locales_url }}">{{ fa_copy.locales_label }}</a></p>
    </div>
  </body>
</html>
